@import './reset';

$primary: red;
$secondary: blue;
$header: grey;
$cardeven: green;
$cardodd: purple;

:root{
  background-color: rgb(25, 25, 25);
  color: white;
}

.App {
  text-align: center;
  box-sizing: border-box;

  hr{
    height: 2px;
    background: linear-gradient(to right, transparent, white 50%, transparent);
    border: none;
  }
}

header{
  padding: 1rem;
  border-bottom: 2px solid white;
  position: fixed;

  a{
    color: white;
    margin: 0 3rem;
    text-decoration: none;
  }
}

header, footer{
  display: flex;
  justify-content: center;
  background-color: $header;
  height: 25px;
  width: 100%;
  padding: 1rem 0;
  z-index: 10;
}

main{
  display: flex;
  padding: 0 2rem;

  #socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 45%;
    z-index: 10;

    > *{
      margin: 1rem 0;
      width: 2.5rem;
      height: auto;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50%;
      padding: 0.25rem;

      &:hover{
        color: red;
        border: 1px solid red;
      }
    }
  }

  #about{
    text-align: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  
    h1{
      font-size: 7rem;
      padding: 0.5rem 0;
    }
  
    h5{
      font-size: 1.5rem;
      padding: 0.5rem 0;
    }

    p{
      width: 50%;
      // float: right;
    }
  
  }

  #projects{

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    hr {
      margin: 1rem 0;
      width: 75%;
      background: linear-gradient(to right, transparent, white 50%);
    }

    .projects_header{
      text-align: right;
      margin: 5rem 0;
    }

    .project_card{
      display: flex;
      width: 70%;
      float: right;
      // cursor: pointer;
      background-color: $cardodd;
      // border: 1px solid white;
      color: white;
      padding: 0.5rem;
      margin: 1rem 0;
    }

    .MuiCardMedia-root{
      width: 400px;
      height: 200px;
    }

    .MuiCardContent-root{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding: 0.5rem 0;
      padding-left: 2rem;
      width: 100%;

      .project_header{
        display: flex;
        justify-content: space-between;

        .project_buttons{
          > * {
            margin: 0 0.5rem;
            // background-color: red;
          }
        }
      }

      .project_chips{
        > * {
          margin: 0 0.5rem;
          color: white;
        }
      }
    }
  }

  #resume{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    hr {
      margin: 1rem 0;
      width: 75%;
      background: linear-gradient(to right, transparent, white 50%);
    }
    
    #resume_header{
      text-align: right;
      margin: 5rem 0;
    }

    h3{
      text-decoration: underline;
    }

  }

  #contact{
    background-color: $primary;
    padding-top: 5rem;
    height: 100vh;

    #contact_header{
      text-align: right;

    }

    #sender_contact_details{
      display: flex;
      justify-content: space-between;
      width: 100%;

      > :first-child{
        margin-right: 0.5rem;
      }

      > :last-child{
        margin-left: 0.5rem;
      }
    }

    #email_form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 20%;
      height: 70%;
    }

    .MuiFormControl-root{
      color: white;
      margin: 0.5rem 0;
    }

    .MuiOutlinedInput-notchedOutline, textarea{
      border-color: white;
    }

    label{
      color: white;
    }

    label.Mui-focused{
      color: blue;
    }

    textarea, input{
      color: white;
    }

    button{
      float: left;
      width: 25%;
    }

  }
}

.full_bleed{
  box-shadow: 0 0 0 100vmax $primary;
  clip-path: inset(0 -100vmax);
}

